.row{display: grid;grid-template-columns: auto auto auto auto;gap: 30px;}
.topmovie-heading {font-size: 20px; color: #fff;border-left: 5px solid #ffff00;margin: 20px 0 25px 30px;}
.topmovie-heading b {margin-left: 15px;}
.movies-box{box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding: 10px 0; border-radius: 15px; background-color: #93b82d;text-align: center;}
.movies-box img {margin: 0 auto;border-radius: 10px;width: 235px; height: 300px;}
.movies-box b{width: 250px; display: block;}
.movie-info span {display: block;color: #ebebeb;line-height: 24px;font-weight: 500;}
.movie-info {padding: 10px 23px;color: aliceblue;}
.trailer {padding: 8px 14px;border-radius: 6px;margin-top: 12px;}
.trailer a {padding: 8px 14px;font-size: 16px; color: #000;}

@media (max-width:1080px){
    .row{grid-template-columns: auto auto auto;}
}
@media (max-width:980px){
    .row{grid-template-columns: auto auto ;}
    .movies-box{text-align: center; display: grid ; place-items: center; padding: 10px 0;}
}
@media(max-width:650px){
    .movies-box img{width: 200px;}
    .movie-info { padding: 10px 0;}
}
@media(max-width:480px){
    .row{grid-template-columns: auto;}
    .movies-box img {
        width: 280px;
    }
}


   


